.container {
    position: fixed;
    display: flex;
    width: 30%;
    height: 60px;
    /*margin-left: 35%;*/
    margin-top: 1.5vh;
    background: var(--color-background__night);
    border-radius: 10px;
    /*border-bottom: 1px solid lightgrey;*/
}

.container__day {
    position: fixed;
    display: flex;
    width: 30%;
    height: 60px;
    /*margin-left: 35%;*/
    margin-top: 1.5vh;
    background: var(--color-background__day);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    /*border-bottom: 1px solid lightgrey;*/
}

.navbar_container {
    display: flex;
    height: 60px;
    width: 100%;
    /*background: #111111;*/
}

.navbar_subcontainer {
    width: 90%;
    margin: auto;
}
